<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student register page.</title>
</head>
<body style="text-align:center">
    <h1>Faculty Registration.</h1>




    <form method="post" action="{{ url_for('teacherRegister') }}">
        <label for="name">Name:</label><br>
        <input type="text" name="name"><br><br>

        <label for="id">ID Number:</label><br>
        <input type="text" name="id"><br><br>

        <label for="email">Email:</label><br>
        <input type="email" name="email"><br><br>

        <label for="password">Password:</label><br>
        <input type="password" name="password"><br><br>

        <label for="conform password">Conform Password:</label><br>
        <input type="password" name="conform_password"><br><br>

        <input type="submit" name="SubmitTeacher" value="Submit">


    </form>
</body>
</html>